<!DOCTYPE html>
<html lang="en" ng-app="rsaApp">

<head>
    <meta charset="UTF-8">
    <title>Zasar application</title>



    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="bower_components/bootstrap-material-design/dist/css/material-fullpalette.min.css">



</head>

<body ng-controller="RsaController">

    <div class="container">

        <br>
        <br>
        <br>
        <br>
        <br>

        <div class="well bs-component">


            <form class="form-horizontal">
                <fieldset>

                    <div class="form-group">
                        <label for="inputValue" class="col-sm-2 control-label">Input login</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="inputValue" placeholder="Login" ng-model="login">
                        </div>
                    </div>

                    <div>
                        Private key:{{privateKey}}<br/>
                        G: {{g}}
                        P: {{p}}
                        ModPow: {{modPow}}<br/>
                        Generated key: {{generatedKey}}<br/>
                        <button class="btn btn-primary" ng-click="generateKeyData()">Generate key data</button>
                        <button class="btn btn-primary" ng-click="sendGeneratedData()">Send key data</button>
                        <button class="btn btn-primary" ng-click="getKeyData()">Get key data</button>
                    </div>

                </fieldset>
            </form>
            <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                Messages
            </button>
            <div class="collapse" id="collapseExample">
                <div class="well">
                    <button class="btn btn-primary" ng-click="updateMessages()">Update</button>

                    <input type="text" ng-value="messageToSend"/>
                    <button class="btn btn-primary" ng-click="sendMessage()">Send Message</button>

                    <ul>
                        <div ng-repeat="message in messages">
                            Original: {{message.original}}<br/>
                            Decrypted: {{message.decrypted}}<br/>
                        </div>
                    </ul>

                </div>
            </div>

        </div>
    </div>


</body>

</html>
<script src="tripledes.js"></script>
<script src="BigInteger.min.js"></script>
<script src="angular.min.js"></script>
<script src="app.js"></script>
<script src="bower_components/jquery/dist/jquery.min.js"></script>
<script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="bower_components/bootstrap-material-design/dist/js/material.min.js"></script>

<script>
    $(document).ready(function () {
        // This command is used to initialize some elements and make them work properly
        $.material.init();
    });
</script>